.backgroundImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.backgroundImage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(90deg, #12111ad4, #12111a91, #12111a00, #00000000);
}

.backgroundImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(270deg, #12111a, #12111ad8, #12111a8d, #00000052);
}
